.btn1{
    background-color: rgb(23, 202, 23);
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 12px;
    
}

.cross{
    height: 25px;
    width: 25px;
    background-color: rgb(194, 186, 186);
    border-radius: 100px;
}

.croos5{
    height: 25px;
    width: 25px;
    background-color: rgb(194, 186, 186);
    border-radius: 100px;
}

.card-text{
    font-size: 15px;
}

.freshop{
    font-size: 13px;
    border: none;
    border-radius: 8px;
}

.freshop1{
    font-size: 15px;
    border: none;
    text-align: start;
}

.new-btn{
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 10px;
    width: 60px;
}

.sumsung-image{
    height: 50px;
    width: 75px;
}