


.main-logo{
    mix-blend-mode: multiply;
    height:50px
}



@media  (max-width:767px) {
    .main-logo{
        height: 30px;
        
    }
    .nav-mobile{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .font{
        font-size: 7px;
        

    }
}
